body{
    background-color: azure;
}

.container{
    padding: 20px;
}

.input{
    height: 10vh auto;
    border-radius: 0;
}

.btn{
    border-radius: 0;
    height: 10vh auto;
    width: 10vw auto;
}

.list-item{
    list-style: none;
}

.button-box{
    text-align: center;
}

.display-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 22px;
    left: -6%;
    border-top: 1px solid lightgray;
}

.delete-button{
    color: red;
    font-size: large;
}

small{
    color: rgb(104, 101, 101);
}

label{
    font-family: Georgia;
}